*.pyc
*.txt
*.png
*.csv
*.jpg
*.xml
*.iml
*.json
results_0/
results_1/
results_2/
results_3/
results_4/
results_5/
results_6/
results_7/
results_8/
results_9/
results_10/
results_11/
results_12/
results_13/
results_14/
results_15/
results_16/
results_17/
results_18/
results_19/
results_20/
results_21/
results_22/
results_23/
results_24/
results_25/
results_26/
